<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>july 8</title>
    <script src="angular.min (1).js"></script>
    <script src="script1.js"> </script>
<style>
   .products{
       border:1px black solid;
       width:320px;
       padding:10px;
       margin:10px;
       float:left;
   }
    .cart{
        border:1px black solid;
        width:320px;
        padding:10px;
        margin:10px;
        float:left;
    }
</style>

</head>
<body ng-app="myApp">
<div ng-controller="ctrl1">
        <h2>Products</h2>
        <div class="products">
    <div ng-repeat="item in products">
    <p>Name: {{item.name}}</p>
        <p>Price: {{item.price}}Rs</p>
        <input type="button" value="add to cart"
        ng-click="addtocart(item)">
    </div>
    </div>

    <div class="cart">
        <h2>cart</h2>
        <div ng-repeat="item in cart">
            <p>Name: {{item.name}}--<input type="number" ng-value="product.qty"></p>
            <p>Price: {{item.price}}Rs</p>

        </div>
    </div>
    <h3> Totalprice:{{Totalprice||0}}</h3>
</div>
</body>
</html>